.main-body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.main-background{
    position: absolute;
    background-image: url("https://web-static.hg-cdn.com/endfield/official/oversea/_next/static/media/loadingBg.411e8359.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #f0f0f0;
}
.marquee {
    position: relative;
    height: 100%; /* Full height */
    width: 100%;
    overflow: hidden;
  }
  
  .marquee span {
    display: inline-block;
    font-size: large;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }
  
  .marquee2 span {
    animation-delay: 5s;
  }
  
  @keyframes marquee {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }