@font-face {
    font-family: ZZZ;
    src: url(en-us.ttf); 
  }
.main-sidebar {
    background-image: url(https://act.hoyoverse.com/zzz/event/e20240702landing-hcklq6/images/bg.04dd4630..jpg);
    position: absolute;
    display: flex; 
    height: inherit !important;
    width: 3.0em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(61, 61, 61,0.5);
    transition: 1000ms;
    overflow: hidden;
}
.hidden {
    transform: translateX(-100%); /* Hide the sidebar */
}

.shown {
    transform: translateX(0); /* Show the sidebar */
}

.main-sidebar:hover {
    width: 13rem;
}

.main-sidebar-items {
    overflow: hidden;
    color: white;
    overflow-y: auto;
}
.main-sidebar-items button {  
    color: rgb(255, 255, 255);
    background-color: rgb(48, 48, 48);
    opacity: 1;
    width: 100%;
    height: 3.5rem;
}
.list-item {
    text-decoration: none;
}

.list-item-content {
    display: flex;
    align-items: center;
}

.list-item-image {
    transition: var(--transition-speed);
    max-height: 2.0rem;
    height: 100%;
}
.list-item-text{
    transition: var(--transition-speed);
    display: none;
    opacity: 0;
    font-family: ZZZ;
    font-size: smaller;
    margin-left: 5px;
} 
.main-sidebar:hover .list-item-text{
    display: block;
    opacity: 1;
}
.main-sidebar-items button:hover {
    transition: var(--transition-speed);
    background-color: rgb(165, 165, 165);
}

.list-item-content:hover img{
    transform: rotate(360deg);
}