.main-sidebar {
    position: absolute;
    display: flex; 
    height: inherit !important;
    width: 3.0em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(61, 61, 61,0.5);
    transition: 1000ms;
    overflow: hidden;
}
.hidden {
    transform: translateX(-100%); /* Hide the sidebar */
}

.shown {
    transform: translateX(0); /* Show the sidebar */
}

.main-sidebar:hover {
    width: 11rem;
}

.main-sidebar-items {
    overflow: hidden;
    color: white;
    overflow-y: auto;
}
.main-sidebar-items ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-sidebar-items button {
    display: block;
    padding: 1px;
    text-decoration: none;  
    color: rgb(255, 255, 255);
    background-color: rgb(48, 48, 48);
    font-size: 10px;
    opacity: 1;
    width: 100%;

}
.list-item {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.list-item-content {
    display: flex;
    align-items: center;
}

.list-item-image {
    transition: var(--transition-speed);
    width: 40px; 
    padding: 5px;
}
.list-item-text{
    opacity: 0;
    font-family: monospace;
    font-size: medium;
    margin-left: 2px;
} 
.main-sidebar:hover .list-item-text{
    transition: var(--transition-speed);
    opacity: 1;
}
.main-sidebar-items button:hover {
    transition: var(--transition-speed);
    background-color: rgb(165, 165, 165);
}

.list-item-content:hover img{
    transform: rotate(360deg);
}